<h1>Segundo Control</h1>

<style>
h1 {
    color: black;
    height: 35px;
    text-align: center;
}

th {
    color: black;
    border: 2px solid;
    background-color: rgb(238, 198, 250);
}

td {
    color: black;
    border: 2px solid;
    background-color: rgba(236, 118, 187, 0.87);
}

table {
    width: 30px;
    border: 2px solid;
}
</style>

<table>
    <tr>
        <th>nombre</th>
        <td> <%= @datosHash[:nombre]%> </td>
    </tr>
    <tr>
        <th>apellido</th>
        <td> <%= @datosHash[:apellido]%> </td>
    </tr>
    <tr>
        <th>telefono</th>
        <td> <%= @datosHash[:telefono]%> </td>
    </tr>
    <tr>
        <th>correo</th>
        <td> <%= @datosHash[:correo]%> </td>
    </tr>
</table>